<aside>
  <h2>Our Latest News Stories</h2>

  <div class="newsWidget">
    {{#each partials.newsContext}}
    <p>
        <div>
            <h3>{{heading}}</h3>

            {{body}}
        </a>
        </div>
    </p>
    {{/each}}

  </div>

</aside>