<ul style="">
  {{#each listing}}
    <li><a href="/staff/{{this.name}}">{{this.name}}</li>
    <img src={{this.imageurl}} alt="photo of the person" height="200"></a>
    <br>Click on {{this.name}} to get his profil !
  {{/each}}
</ul>
